@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right top,
    #8585d8,
    #a775cd,
    #c463b7,
    #da4f99,
    #e63f74,
    #ef4756,
    #ef5935,
    #e46f00,
    #d59300,
    #bab500,
    #8ed400,
    #2ff059
  );
  color: white;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, auto));
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
  grid-template-areas:
    "h h h h"
    "h h h h"
    "a a m m"
    "a a m m"
    "a a m m"
    "a a m m"
    "f f f f";
}

header {
  margin-top: 20px;
  text-align: center;
  grid-area: h;
  letter-spacing: 3px;
  font-size: 1.5em;
  border: 1px solid red;
}
aside {
  grid-area: a;
  border: 2px solid black;
}
main {
  grid-area: m;
  border: 2px solid blue;
}
footer {
  grid-area: f;
}
.underline {
  width: 13%;
  height: 5px;
  background: #e7155b;
  margin: auto;
}
